.header {
  padding: 0 50px;
  display: flex;
  height: 60px;
  align-items: center;

  border-bottom: 1px solid #cfcfcf;

  &__logo {
    margin-right: 10%;
  }
}

.nav {
  display: flex;

  &__item {
    margin: 10px 35px 10px 0;
    cursor: pointer;
    background-color: white;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    padding: 5px;
  }

  &__item:hover {
    background-color: #fcdb2b;
  }
}